arm:
  hardware: !<Comp>
    shoulderMotor:
      id: 15
      inverted: false
    shoulderEncoder:
      id: 4
      inverted: true
      offset: 104 degrees
    elbowMotor:
      id: 2
      inverted: true
    elbowEncoder:
      id: 5
      inverted: true
      offset: 101.8 degrees
    wristMotor:
      id: 3
      inverted: false
    wristEncoder:
      id: 6
      inverted: true
      offset: -9 degrees


intake:
  hardware: !<Comp>
    motor:
      id: 20
      inverted: false

drivetrain:
  trackwidth: 20 inches
  wheelbase: 24 inches
  maxTranslationalVelocity: 13.8 feet per second

  gyroscope: !<Pigeon2>
    id: 13
    canBus: 3663

  # Swerve module config
  swerveModule: !<SdsMk4>
    gearRatio: L2

  # Front left
  frontLeftModule: !<SdsMk4>
    driveMotor:
      id: 1
      canBus: 3663
    steerMotor:
      id: 5
      canBus: 3663
    steerEncoder:
      id: 9
      canBus: 3663
      offset: -63.2 degrees

  # Front right
  frontRightModule: !<SdsMk4>
    driveMotor:
      id: 2
      canBus: 3663
    steerMotor:
      id: 6
      canBus: 3663
    steerEncoder:
      id: 10
      canBus: 3663
      offset: 97.8 degrees

  # Back left
  backLeftModule: !<SdsMk4>
    driveMotor:
      id: 3
      canBus: 3663
    steerMotor:
      id: 7
      canBus: 3663
    steerEncoder:
      id: 11
      canBus: 3663
      offset: -11.9 degrees

  # Back right
  backRightModule: !<SdsMk4>
    driveMotor:
      id: 8
      canBus: 3663
    steerMotor:
      id: 4
      canBus: 3663
    steerEncoder:
      id: 12
      canBus: 3663
      offset: -95.4 degrees

vision: { }